* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
  text-align: center;
}

article{
  padding : 8px;
    margin-right: auto;
  margin-left: auto;
}

.column-content-body{
  background-color: silver;


  border: 1px solid black;
}
.column-content-body p{
    padding: 8px;
margin-top: 50px;
}

 body {



  font-family: Helvetica;
}


.food-sub-heading{
  margin: 10px 0px;
height: 30px;
width: 100%;
text-align: center;
position: absolute;
}

.row{
      margin:0px 15px;
}
